package ${package}.infra.repository.impl;

import org.hzero.mybatis.base.impl.BaseRepositoryImpl;
import ${package}.domain.entity.${className};
import ${package}.domain.repository.${className}Repository;
import org.springframework.stereotype.Component;

/**
 * ${comments} 资源库实现
 *
 * @author ${author} ${datetime}
 */
@Component
public class ${className}RepositoryImpl extends BaseRepositoryImpl<${className}> implements ${className}Repository {

  
}
