<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.generator.mapper.MenuPermissionExportMapper">

    <select id="selectIdByRoute" parameterType="string" resultType="java.util.Map">
        SELECT id,parent_id
        FROM iam_menu
        where route = #{route}
        <if test="version == 'op'">
            AND fd_level = 'organization'
        </if>
    </select>
    <select id="selectParendId" parameterType="long" resultType="long">
        SELECT parent_id
        FROM iam_menu
        where id = #{id}
    </select>
    <select id="selectChildId" parameterType="long" resultType="long">
        SELECT id
        FROM iam_menu
        where parent_id = #{id}
    </select>
    <select id="changeSchema">
        USE ${schema};
    </select>
</mapper>